table
{
    float: left;
    font-family: sans-serif;
    width: 80%;
    border-collapse: collapse;
}
td, th
{
    padding: 0.5em;
    text-align: left;
}
th
{
    font-weight: 550;
}
.tableHeader1, .tableHeader2
{
    border-bottom-style: solid;
    border-bottom-color: black;
}
tr:nth-child(odd)
{
    background-color: gray;
}

.tableHeader1
{
    background-color: transparent !important;
}